
<title>Service Offered</title>
<h2>Services Offered</h2>
<h4>Basic Service-  60 Euros</h4>
<p>
    A basic car service is the entry level servicing package which is usually recommended every 6,000 miles or else every 6 months. Typically included in a basic car service is an oil change, oil filter change and an inspection of main components of the car. The garage you have chosen your job with will look at brake pads, discs and callipers, check your tyres for wear, light and various other checks depending on the garage.
    These are simply checks on your vehicle to ensure that the car owner is fully aware of what the car needs. No garage should ever carry out work on the car without the car owners permission, the checks are just for your information and any good garage or service advisor should advise how urgent the work will need to be done.
</p>
<h4>Standard Service-  70 Euros</h4>
<p>
    The standard service  also known as full service is usually recommended every 12 months or every 12,000 miles. A full service includes everything that is in a basic service plus a much more in-depth check and some more additional work.

    A full service includes additional filter replacements such as an air filter, in-depth brake checks and overall checks on the engine and more. The mid range service option will also be appropriate if car owners think their car needs a thorough check over, perhaps it is not performing the same.
</p>
<h4>Premium Service-  130 Euros</h4>
<p>
    A premium service is the highest level in terms of car servicing packages which is also termed as a major service.A major service is recommended every 24 months or every 24,000 miles. A major service is one of the most important services that your car will receive, it is essentially a complete overall check of the vehicle. The overall check which is necessary after 24,000 miles of driving is important at this point because certain parts of the car will have experienced wear and tear or damage over time.

    Everything included in a full service is in a major car service plus even more in-depth checks, spark plugs changed, brake fluid, suspension and fuel filters.
</p>

